.wo-inner {
  padding-top: 104px;
  background-color: #f6f6f8;

  @media (max-width: 1199px) {
    padding-top: 100px;
  }

  .wo-content > .row > .col-xl-4 {
    padding-bottom: 120px;
  }

  .faqs-accordion__header {
    padding: 34px 32px;
    line-height: 1;
    border-bottom: 0;
    transition: padding 0.1s;
    color: #423F3F;
    &:not(.collapsed) {
      padding-bottom: 24px;
    }
  }

  .faqs-accordion .card-body {
    padding: 0 32px 32px 32px !important;
    transition: opacity 0.1s;
    color: #5E6369;
    font-size: 14px;
    line-height: 17px;
  }

  .faqs-accordion .collapsing {
    &:not(.show) {
      .card-body {
        opacity: 0;
      }
    }
  }
}

.wo-inner-slider {
  background-color: #fff;
  padding-top: 89px;

  @media (max-width: 991px) {
    padding-top: 53px;
  }
}

.wo-content {
  padding-left: 120px;
  padding-right: 120px;

  @media (max-width: 1600px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.wo-inner__image-cont {
  position: relative;
  // padding-bottom: 56%;
  margin-bottom: 24px;
  display: flex;

  @media (max-width: 1199px) {
    // padding-bottom: 40%;
  }

  img {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }
}

.wo-inner__image-cont-preview {
  margin: 48px auto 60px auto;
  width: 278px;
  height: 562px;
  position: relative;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &-content {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 14px 16px;
    border-radius: 32px;
    text-align: center;
    background-color: #fff;
  }

  &-content-title {
    font-size: 14px;
    line-height: 1;
    color: #908E8D;
  }

  &-content-coupon-title {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $bold-m3;
    font-size: 14px;
  }
  &-content-img {
    width: 100%;
    object-fit: contain;
  }
  &-content-sub-title {
    margin-top: 23px;
    font-size: 12px;
    line-height: 1;
    color: #908E8D;
    font-family: $bold-n2;
  }
  &-content-qoute {
    img {
      height: 14px;
    }
  }
  &-content-text {
    margin-top: 30px;
  }
}

.wo-product-title-cont {
  margin-bottom: 24px;

  &__logo {
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 40px;
    color: #423f3f;
    font-family: $bold-n2;

    @media (max-width: 1199px) {
      font-size: 28px;
    }
  }
}

.wo-product-info {
  font-size: 16px;
  font-family: $regular-n2;
  line-height: 26px;
  color: #5e6369;

  &:not(.wo-product-info--expanded) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  @media (max-width: 991px) {
    font-size: 14px;
    line-height: 22px;
  }
}

.wo-product-info-read-more {
  font-size: 16px;
  font-family: $bold-n2;
  color: #423f3f;
  margin: 10px 0;
  cursor: pointer;

  img {
    margin-left: 10px;
    transition: 0.3s;
  }

  &--expanded {
    img {
      transform: rotate(180deg);
    }
  }
}

.wo-social-links {
  margin-bottom: 24px;
  margin-top: 30px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;

  &__shops {
    padding: 14px 12px 14px 22px;
    border-radius: 20px;
    background-color: rgba(#1b73e8, 0.1);
    display: inline-block;
    color: #1b73e8;
    font-size: 12px;
    font-family: $bold-m3;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 16px;

    &:hover {
      text-decoration: none;
      color: #1b73e8;
    }

    svg {
      margin-right: 8px;
    }
  }

  &__socials {
    margin-left: 18px;
    display: flex;
  }

  &__social-item {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #423f3f;
    border-radius: 50%;
    margin-right: 24px;
  }
}

.wo-tags {
  display: flex;
  flex-wrap: wrap;

  &__item {
    font-size: 12px;
    padding: 11px 22px;
    border: 1px solid #423f3f;
    border-radius: 18px;
    line-height: 1;
    margin-right: 16px;
    color: #423f3f;
    white-space: nowrap;
    margin-bottom: 16px;
    transition: 0.3s;

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #423f3f;
    }
  }
}

.faqs-accordion--inner {
  margin-top: 40px;

  .card {
    margin-bottom: 16px;
  }

  .card-header {
    font-size: 14px;
  }
  .card-body {
    font-size: 14px;
  }
}

.wo-inner-promos {
  margin-top: 54px;
  margin-bottom: 120px;

  @media (max-width: 1199px) {
    margin-top: 45px;
    margin-bottom: 24px;
  }

  &__title {
    font-family: $bold-n2;
    font-size: 24px;
    color: #484848;
    margin-bottom: 32px;

    @media (max-width: 1199px) {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  &__item {
    padding: 28px 24px;
    background-color: #fff;
    height: 470px;
    position: relative;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    &:hover {
      text-decoration: none;

      .wo-inner-promos__item-bg {
        transform: translateY(-50%) scale(1.1);
      }
    }

    @media (max-width: 1199px) {
      height: 313px;
      margin-bottom: 16px;
    }
  }

  &__item-info {
    position: relative;
    z-index: 2;
  }

  &__item-bg {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 66%;
    object-fit: contain;
    transition: 0.3s;

    @media (max-width: 991px) {
      width: 50%;
    }
  }

  &__item-title {
    font-family: $bold-n2;
    font-size: 16px;

    @media (max-width: 991px) {
      font-size: 14px;
    }
  }

  &__item-sub-title {
    font-size: 16px;
    color: #484848;
  }
}
.wo-inner-side-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  overflow-y: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  @media (min-height: 1000px) {
    top: 170px;
  }

  @media (max-height: 999px) {
    position: static;
  }

  @media (max-width: 1199px) {
    top: 100px;
    overflow-y: visible;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .wo-inner-promos__item-bg {
    width: auto;

    @media (max-width: 1199px) {
      width: 35%;
    }
  }
}

.wo-inner-side {
  padding: 24px 32px 32px 32px;
  background-color: #fff;
  min-height: 734px;
  display: flex;
  flex-direction: column;

  @media (max-width: 991px) {
    padding: 20px 10px;
    min-height: 488px;
  }

  &__progress-dot {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #efefef;
    top: 50%;
    border: 2px solid #efefef;
    border-radius: 50%;
    &--0 {
      left: 0;
      background-color: #1b73e8;
    }
    &--1 {
      left: 33.33%;
    }
    &--2 {
      left: 66.66%;
    }
    &--3 {
      left: 100%;
    }
  }

  &__progress {
    height: 4px;
    background-color: #efefef;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 0;
      background-color: #1b73e8;
      transition: 0.3s;
    }

    &--active-step {
      &-1 {
        &:before {
          width: 33.33%;
        }
        .wo-inner-side__progress-dot--1 {
          background-color: #1b73e8;
        }
      }
      &-2 {
        &:before {
          width: 66.66%;
        }
        .wo-inner-side__progress-dot--1,
        .wo-inner-side__progress-dot--2 {
          background-color: #1b73e8;
        }
      }
      &-3 {
        &:before {
          width: 100%;
        }
        .wo-inner-side__progress-dot--1,
        .wo-inner-side__progress-dot--2,
        .wo-inner-side__progress-dot--3 {
          background-color: #1b73e8;
        }
      }
    }
  }

  &__title {
    font-size: 24px;
    font-family: $bold-m3;
    margin: 40px 0 35px 0;

    @media (max-width: 991px) {
      font-size: 16px;
      margin: 26px 0 16px 0;
    }
  }

  &__footer {
    display: flex;
    margin-top: 24px;
  }

  &__footer-nav {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-family: $regular-m3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 22px);
    height: 52px;

    @media (max-width: 756px) {
      font-size: 14px !important;
      padding: 7px;
    }

    &:hover {
      text-decoration: none;
    }

    &--back {
      border: 1px solid #1b73e8;
      margin-right: 22px;
      color: #423f3f;
      @media (max-width: 1500px) {
        margin-right: 15px;
      }
    }
    &--next {
      background-color: #1b73e8;
      color: #fff;
      font-family: $bold-m3;

      &:hover {
        color: #fff;
        background-color: lighten(#1b73e8, 10);
      }
    }

    &--cart {
      width: calc(90% - 22px);
      font-size: 16px;
      svg {
        margin-right: 19px;

        @media (max-width: 1500px) {
          margin-right: 5px;
        }
      }

      @media (max-width: 1500px) {
        font-size: 14px;
      }

      @media (max-width: 1300px) {
        font-size: 13px;
      }

      @media (max-width: 756px) {
        font-size: 14px !important;
      }
    }
  }

  &__content {
    position: relative;
    margin-bottom: auto;
  }

  &__choose-design-item {
    display: flex;
    // align-items: center;
    border-radius: 2px;
    border: 1px solid #efefef;
    padding: 11px 12px;
    margin-bottom: 16px;
    cursor: pointer;
    border-radius: 2px;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: #1b73e8;
    }

    @media (max-width: 991px) {
     padding: 8px;
    }
  }

  &__choose-design-item-img {
    width: 122px;
    min-width: 122px;
    height: 88px;
    margin-right: 18px;

    @media (max-width: 991px) {
      min-width: 80px;
      height: 58px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__choose-design-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;

    @media (max-width: 991px) {
      padding-bottom: 0;
    }
  }

  &__choose-design-item-title {
    line-height: 24px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    @media (max-width: 991px) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__choose-design-item-price {
    font-size: 14px;
    color: rgba(#423f3f, 0.7);

    @media (max-width: 991px) {
      font-size: 12px;
      line-height: 1;
    }
  }

  &__choose-type-item {
    position: relative;
    height: 240px;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 28px 24px;
    margin-bottom: 16px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    img {
      transition: 0.3s;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: #1b73e8;
      img {
        transform: translateY(-50%) scale(1.1);
      }
    }
    @media (max-width: 991px) {
      padding: 21px 16px;
      height: 157px;
    }
  }
  &__choose-type-radio {
    position: absolute;
    visibility: hidden;
    opacity: 0;

    &:checked + label {
      border-color: #1b73e8;
    }
  }

  &__choose-price-input-container {
    border: 1px solid #efefef;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;

    @media (max-width: 1199px) {
      height: 74px;
    }
  }

  &__choose-price-icon {
    width: 54px;
    min-width: 54px;
    height: 54px;
    border: 2px solid #423f3f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--minus {
      margin-left: 24px;
      @media (max-width: 1199px) {
        margin-left: 10px;
      }
    }
    &--plus {
      margin-right: 24px;
      @media (max-width: 1199px) {
        margin-right: 10px;
      }
    }

    &--disabled {
      border-color: rgba(#423f3f, 0.3);
    }
  }

  &__choose-price-input {
    height: 0;
    border: none;
    text-align: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &:focus {
      outline: none;
    }
  }

  &__choose-price-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  &__choose-price-input-wrapper {
    position: relative;
    font-family: $bold-m3;
    font-size: 20px;

    label {
      font-size: 20px;

      .wo-inner-side__choose-price-input-label-price {
        font-size: 20px;
      }
    }
  }

  &__choose-price-item {
    width: calc(50% - 8px);
    height: 112px;
    border: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;

    &:nth-child(odd) {
      margin-right: 16px;
    }

    &--active {
      border-color: #1b73e8;
      color: #1b73e8;
    }

    &:nth-last-of-type(-n + 2) {
      margin-bottom: 0;
    }

    @media (max-width: 1199px) {
      height: 64px;
    }
  }

  &__heart-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 31px;

    p {
      margin: 0;
    }
  }

  &__fill-data {
    margin-bottom: 20px;

    .select2-container {
      width: 100% !important;
      border: 1px solid #efefef;
      border-radius: 2px;
      padding: 16px 12px;
      font-size: 14px;
      line-height: 1;

      .selection .select2-selection {
        height: auto;
      }

      .select2-selection__rendered {
        padding-left: 0;
      }

      .select2-selection__arrow {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        background-image: url("../../assets/images/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .col-12:last-child {
      .wo-inner-side__input-group {
        margin-bottom: 0;
      }
    }
  }

  &__input-label {
    font-size: 12px;
    font-family: $bold-n2;
    margin-bottom: 9px;
    line-height: 1;

    @media (max-width: 756px) {
      font-size: 11px;
    }
  }

  &__input-group {
    position: relative;
    margin-bottom: 19px;

    .select2-container--bootstrap .select2-selection--single {
      height: auto !important;
      border: none !important;
      outline: none;
    }
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    pointer-events: none;
  }

  &__input {
    border: 1px solid #efefef;
    border-radius: 2px;
    padding: 16px 12px;
    font-size: 14px;
    line-height: 1;
    width: 100%;

    &::placeholder {
      font-size: 14px;
    }

    &:focus {
      outline: none;
      border-color: #1b73e8;
    }

    &--textarea {
      height: 70px;
      line-height: 20px;

      &-large {
        height: 184px;

        @media (max-width: 991px) {
          height: 62px;
        }
      }
    }
  }
  &__send-method {
    .col-12:last-child {
      .wo-inner-side__send-method-item {
        margin-bottom: 0;
      }
    }
  }
  &__send-method-item {
    border: 1px solid #efefef;
    border-radius: 2px;
    margin-bottom: 16px;
    padding: 28px 24px;

    @media (max-width: 991px) {
      padding: 21px 16px 16px 16px;
    }
  }

  &__send-method-item-header {
    margin-bottom: 30px;
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__send-method-item-header-text {
    padding-right: 0;
  }

  &__send-method-item-title {
    font-family: $bold-n2;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;

    @media (max-width: 991px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  &__send-method-item-icon {
    margin-top: -8px;

    @media (max-width: 991px) {
      max-width: 48px;
    }
  }
  &__send-method-item-text {
    font-size: 16px;

    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
}

.select2-dropdown {
  border: 1px solid #efefef;

  .select2-results__option {
    padding: 16px 12px;
    font-size: 12px;
    line-height: 1;

    &:hover,
    &.select2-results__option--selected {
      background-color: #f6f6f8;
    }
  }

  .select2-results__options {
    max-height: 200px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
