.main-button {
    padding: 25px 65px;
    border: 2px solid $green;
    border-radius: 8px;
    outline: none;
    font-family: $bold-n2;
    font-size: 24px;
    color: #423f3f;
    // background-color: #fff;

    &:hover {
        color: #423f3f;
        text-decoration: none;
    }
}
