.h100-p {
    height: 100%;
}
.w100-p {
    width: 100%;
}

.color-green {
    color: #178038;
}

.color-yellow {
    color: #FEBD01;
}

.color-pink {
    color: #F9718E;
}

.color-blue {
    color: #1B73E8;
}